@page
@model LaptopStore.Pages.Store.registerModel
@{
    Layout = "_LayoutStore";
    ViewData["Title"] = "Đăng ký";
}

<div id="breadcrumb" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    <li><a href="#">Trang chủ</a></li>
                    <li class="active">Đăng ký</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">

            <div class="col-md-7">
                <div class="billing-details">
                    <form method="POST">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        @* <div asp-validation-summary="All" class="text-danger"></div> *@
                        @* <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" asp-for="login.email" id="email" placeholder="Nhập email" name="email">
                            <span asp-validation-for="login.email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" asp-for="login.email" id="email" placeholder="Nhập email" name="email">
                            <span asp-validation-for="login.email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" asp-for="login.email" id="email" placeholder="Nhập email" name="email">
                            <span asp-validation-for="login.email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" asp-for="login.email" id="email" placeholder="Nhập email" name="email">
                            <span asp-validation-for="login.email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" asp-for="login.email" id="email" placeholder="Nhập email" name="email">
                            <span asp-validation-for="login.email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="pwd">Mật khẩu:</label>
                            <input type="password" class="form-control" asp-for="login.password" id="pwd" placeholder="Nhập mật khẩu" name="password">
                            <span asp-validation-for="login.password" class="text-danger"></span>
                        </div> *@
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="remember"> Ghi nhớ
                            </label>
                        </div>
                        <button type="submit" class="btn btn-danger center-block">Đăng nhập</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>