<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>@ViewData["Title"] - LaptopStore</title>

		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
			integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- Slick -->
		<link type="text/css" rel="stylesheet" href="~/Store/css/slick.css" />
		<link type="text/css" rel="stylesheet" href="~/Store/css/slick-theme.css" />

		<!-- nouislider -->
		<link type="text/css" rel="stylesheet" href="~/Store/css/nouislider.min.css" />

		<!-- Font Awesome Icon -->
		<link rel="stylesheet" href="~/Store/css/font-awesome.min.css">

		<!-- Custom stlylesheet -->
		<link type="text/css" rel="stylesheet" href="~/Store/css/style.css" />

	</head>

	<body>
		<header>
			<div id="top-header">
				<div class="container">
					<ul class="header-links pull-left">
						<li><a href="#"><i class="fa fa-phone"></i> +84 375730746</a></li>
						<li><a href="#"><i class="fa fa-envelope-o"></i> phunghathao1999@email.com</a></li>
						<li><a href="#"><i class="fa fa-map-marker"></i> 273 An Dương Vương</a></li>
					</ul>
					<ul class="header-links pull-right">
						@if (@User.Identity.Name == null)
						{
							<li><a href="/store/login"><i class="fa fa-user-o"></i> Đăng nhập</a></li>
							<li><a href="/store/login"><i class="fa fa-user-o"></i> Đăng ký</a></li>
						} 
						else 
						{
							<li class="dropdown">
								<a href="javascript:void(0)" class="drop-account">
									<i class="fa fa-user-o"></i> @User.Identity.Name
								</a>
								<div class="dropdown-content-account">
									<a href="/store/profileInvoice"><i class="fa fa-user-o"></i> Đơn hàng</a>
									<a href="/store/profile"><i class="fa fa-user-o"></i> Tài khoảng</a>
									<a href="/store/logout"><i class="fa fa-user-o"></i> Đăng xuất</a>
								</div>
							</li>
						}
					</ul>
				</div>
			</div>

			<div id="header">
				<div class="container">
					<div class="row">
						<div class="col-md-3">
							<div class="header-logo">
								<a href="#" class="logo">
									<img src="./img/logo.png" alt="">
								</a>
							</div>
						</div>

						<div class="col-md-6">
							<div class="header-search">
								<form>
									<input class="input" id="searchProductInput" placeholder="Search here">
									<button id="searchProduct" class="search-btn">Tìm kiếm</button>
								</form>
							</div>
						</div>

						<div class="col-md-3 clearfix">
							<div class="header-ctn">
								<div class="dropdown">
									<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
										<i class="fa fa-shopping-cart"></i>
										<span>Your Cart</span>
										@* <div class="qty">3</div> *@
									</a>
									<div class="cart-dropdown">
										<div class="card mb-3" id="load-invoiceDetail" style="max-width: 400px;"></div>
										@* <div class="cart-list" id="load-invoiceDetail">
											
										</div> *@
										
										<div class="cart-summary" id="load-invoice">
											
										</div>
										<div class="cart-btns">
											<a href="/store/cart">Giỏ hàng <i class="fa fa-arrow-circle-right"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<nav id="navigation">
			<div class="container">
				<div id="responsive-nav">
					<ul class="main-nav nav navbar-nav">
						<li><a href="/store/home">Trang chủ</a></li>
						<li><a href="/store/product">Sản phẩm</a></li>
						<li><a href="/store/combo">Combo</a></li>
						<li class="dropdown">
							<a href="javascript:void(0)" class="drop-menu">Danh mục</a>
							<div class="dropdown-content" id="home-load-catelog">
							</div>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		@RenderBody()

		<footer id="footer">
			<div class="section">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">About Us</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
									incididunt ut.</p>
								<ul class="footer-links">
									<li><a href="#"><i class="fa fa-map-marker"></i>1734 Stonecoal Road</a></li>
									<li><a href="#"><i class="fa fa-phone"></i>+021-95-51-84</a></li>
									<li><a href="#"><i class="fa fa-envelope-o"></i>email@email.com</a></li>
								</ul>
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Categories</h3>
								<ul class="footer-links">
									<li><a href="#">Hot deals</a></li>
									<li><a href="#">Laptops</a></li>
									<li><a href="#">Smartphones</a></li>
									<li><a href="#">Cameras</a></li>
									<li><a href="#">Accessories</a></li>
								</ul>
							</div>
						</div>

						<div class="clearfix visible-xs"></div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Information</h3>
								<ul class="footer-links">
									<li><a href="#">About Us</a></li>
									<li><a href="#">Contact Us</a></li>
									<li><a href="#">Privacy Policy</a></li>
									<li><a href="#">Orders and Returns</a></li>
									<li><a href="#">Terms & Conditions</a></li>
								</ul>
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Service</h3>
								<ul class="footer-links">
									<li><a href="#">My Account</a></li>
									<li><a href="#">View Cart</a></li>
									<li><a href="#">Wishlist</a></li>
									<li><a href="#">Track My Order</a></li>
									<li><a href="#">Help</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="bottom-footer" class="section">
				<div class="container">
					<div class="row">
						<div class="col-md-12 text-center">
							<ul class="footer-payments">
								<li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
								<li><a href="#"><i class="fa fa-credit-card"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>

		<script src="~/Store/js/jquery.min.js"></script>
		@* <script src="~/Store/js/bootstrap.min.js"></script> *@
		<script src="~/Store/js/slick.min.js"></script>
		<script src="~/Store/js/nouislider.min.js"></script>
		<script src="~/Store/js/jquery.zoom.min.js"></script>
		@* <script src="~/Store/js/main.js"></script> *@
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

		<script src="~/Store/home.js"></script>
		<script src="~/Store/product.js"></script>
		<script src="~/Store/cart.js"></script>
	</body>

</html>
